<footer xmlns:th="http://www.thymeleaf.org" class="py-2"
	th:fragment="footer">
	<div class="container footer">
		<div class="row">
			<div class="col-md-8">
				<p>Xem phim online miễn phí chất lượng cao với phụ đề tiếng việt
					- thuyết minh - lồng tiếng. Mọt phim có nhiều thể loại phim phong
					phú, đặc sắc, nhiều bộ phim hay nhất - mới nhất.
					</br> Website
					motphim.net với giao diện trực quan, thuận tiện, tốc độ tải nhanh,
					ít quảng cáo hứa hẹn sẽ đem lại những trải nghiệm tốt cho người
					dùng.</p>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-6">
						<h5>Điều khoản</h5>
						<small>
							Phải tuân thủ những điều khoản mà chúng tôi đặt ra
						</small>
					</div>

					<div class="col-md-6">
						<h5>Liên hệ</h5>
						<small>Email: 16520479@gm.uit.edu.vn <br>
							16520254@gm.uit.edu.vn
						</small>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
	<!-- Bootstrap core JavaScript -->
	<script th:src="@{web/js/jquery.min.js}"></script>
	<script th:src="@{web/js/bootstrap.bundle.min.js}"></script>
	<script>
		$(document).ready(
				function() {
					var d = new Date();
					var temp = d.getFullYear();
					var year = parseInt(temp);
					$(".nam_sx").append(
							"<a href='/phim-moi/" + year + "' class='dropdown-item' >Phim "
									+ year + "</a>");
					$(".nam_sx").append(
							"<a href='/phim-moi/" + (year - 1)
									+ "' class='dropdown-item' >Phim "
									+ (year - 1) + "</a>");
					$(".nam_sx").append(
							"<a href='/phim-moi/" + (year - 2)
									+ "' class='dropdown-item' >Phim "
									+ (year - 2) + "</a>");
					$(".nam_sx").append(
							"<a href='/phim-moi/" + (year - 3)
									+ "' class='dropdown-item' >Phim "
									+ (year - 3) + "</a>");
					$(".nam_sx").append(
							"<a href='/phim-moi/" + (year - 4)
									+ "' class='dropdown-item' >Phim "
									+ (year - 4) + "</a>");
					$(".nam_sx").append(
							"<a href='/phim-moi/" + (year - 5)
									+ "' class='dropdown-item' >Phim "
									+ (year - 5) + "</a>");

				});
	</script>


</footer>